/* 定义变量与值 */
$bgcolor: #222;
$textcolor: pink;
$fontsize: 39px;

// SASS允许使用变量，所有变量以$开头。
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  padding: 0;
  margin: 0;
}

// 如果变量需要镶嵌在字符串之中，就必须需要写在#{}之中。
$side:left;
.r{
	width: 100px;
	height: 100px;
	background-color: pink;
	border-#{$side}-radius: 5px;
}

// SASS允许在代码中使用算式：
 $var:1;
.a{
	width: 100px;
	height: 100px;
	background-color: pink;
	position: absolute;
	top: $var*10px;
	right: $var*10%;
}

// SASS允许选择器嵌套
.aa{
		
	.bb{
		margin-top: 130px;
		color: red;
	}
}

.cc{
	width: 100px;
	height: 100px;
	border: 1px solid ;
	border:{
		color: red;
	}
}

// 在嵌套的代码块内，可以使用&引用父元素。比如a:hover伪类

a{
	&:hover{
		color:red;
	}
}

// SASS共有两种注释风格。标准的CSS注释 /* comment */ ，
 //会保留到编译后的文件。单行注释 // comment，只保留在SASS源文件中，编译后被省略。在/*后面加一个感叹号，表示这是"重要注释"。即////使是压缩模式编译，也会保留这行注释，通常可以用于声明版权信息。 
 
 // SASS允许一个选择器，继承另一个选择器
.d{
	width: 100px;
	height: 100px;
	border: 1px solid red;
}
// class要继承class1，就要使用@extend命令：
.d1{
	@extend  .d;
	font-size: 120%;
}

//  Mixin

//Mixin有点像C语言的宏（macro），是可以重用的代码块。

//使用@mixin命令，定义一个代码块。
@mixin susu {
	color: #fff;
}

// 使用@include命令，调用这个mixin。
.e{
	@include susu;
}

// mixin的强大之处，在于可以指定参数和缺省值。
@mixin susu1($value:10px){
	float: left;
	margin-left:$value ;
}

.e1{
	@include susu1(50px);
}

@mixin rounded($vert, $horz, $radius: 10px) {
　　　border-#{$vert}-#{$horz}-radius: $radius;
　　　-moz-border-radius-#{$vert}#{$horz}: $radius;
　　　-webkit-border-#{$vert}-#{$horz}-radius: $radius;
}
#navbar li { @include rounded(top, left); }

#footer { @include rounded(top, left, 5px); }


// 颜色函数
// SASS提供了一些内置的颜色函数，以便生成系列颜色。
// 　lighten(#cc3, 10%) // #d6d65c
// 　　darken(#cc3, 10%) // #a3a329
// 　　grayscale(#cc3) // #808080
// 　　complement(#cc3) // #33c

// @import命令，用来插入外部文件。
// 　@import "path/filename.scss";

// 如果插入的是.css文件，则等同于css的import命令。
// @import "foo.css";

// 高级用法：
// @if可以用来判断：
	// 配套的还有@else命令：
.ggg{
	@if 1+1==2{
		width: 100px;
		height: 100px;
		border: 1px solid yellow;
	}
}

// SASS支持for循环：
@for $i from 1 to 4 {
	.nnn li:nth-child(#{$i}){
		font-size:#{15*$i}px;
	}
}

// 也支持while循环：
// $i: 6;
// @while $i > 0 {
// 　.item-#{$i} { width: 2em * $i; }
// 　$i: $i - 2;
// }

// each命令，作用与for类似
// @each $member in a, b, c, d {
// 　　　　.#{$member} {
// 　　　　　　background-image: url("/image/#{$member}.jpg");
// 　　　　}
// 　　}

// /SASS允许用户编写自己的函数。
// @function double($n) {
// 　　@return $n * 2;
// }

// #sidebar {
// 　width: double(5px);
// }