html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}

html {
  line-height: 1
}

ol,
ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

q,
blockquote {
  quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none
}

a img {
  border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}



@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-moz-keyframes fadeInOut {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-ms-keyframes fadeInOut {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes loadingMove {
  0% {
    left: 0
  }

  100% {
    left: 100%
  }
}

@-moz-keyframes loadingMove {
  0% {
    left: 0
  }

  100% {
    left: 100%
  }
}

@-ms-keyframes loadingMove {
  0% {
    left: 0
  }

  100% {
    left: 100%
  }
}

@keyframes loadingMove {
  0% {
    left: 0
  }

  100% {
    left: 100%
  }
}

@-webkit-keyframes circleRun {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@-moz-keyframes circleRun {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@-ms-keyframes circleRun {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes circleRun {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes shake {
  0% {
    left: 41px
  }

  100% {
    left: 49px
  }
}

@-moz-keyframes shake {
  0% {
    left: 41px
  }

  100% {
    left: 49px
  }
}

@-ms-keyframes shake {
  0% {
    left: 41px
  }

  100% {
    left: 49px
  }
}

@keyframes shake {
  0% {
    left: 41px
  }

  100% {
    left: 49px
  }
}

@-webkit-keyframes upDown {
  0% {
    top: 41px
  }

  100% {
    top: 49px
  }
}

@-moz-keyframes upDown {
  0% {
    top: 41px
  }

  100% {
    top: 49px
  }
}

@-ms-keyframes upDown {
  0% {
    top: 41px
  }

  100% {
    top: 49px
  }
}

@keyframes upDown {
  0% {
    top: 41px
  }

  100% {
    top: 49px
  }
}

@-webkit-keyframes showTip {
  0% {
    top: -50px;
    opacity: 0;
    display: none
  }

  1% {
    top: -50px;
    opacity: 0;
    display: block
  }

  10% {
    top: 201px;
    opacity: 100
  }

  90% {
    top: 201px;
    opacity: 100
  }

  99% {
    top: -50px;
    opacity: 0
  }

  100% {
    top: -50px;
    opacity: 0;
    display: none
  }
}

@-moz-keyframes showTip {
  0% {
    top: -50px;
    opacity: 0;
    display: none
  }

  1% {
    top: -50px;
    opacity: 0;
    display: block
  }

  10% {
    top: 201px;
    opacity: 100
  }

  90% {
    top: 201px;
    opacity: 100
  }

  99% {
    top: -50px;
    opacity: 0
  }

  100% {
    top: -50px;
    opacity: 0;
    display: none
  }
}

@-ms-keyframes showTip {
  0% {
    top: -50px;
    opacity: 0;
    display: none
  }

  1% {
    top: -50px;
    opacity: 0;
    display: block
  }

  10% {
    top: 201px;
    opacity: 100
  }

  90% {
    top: 201px;
    opacity: 100
  }

  99% {
    top: -50px;
    opacity: 0
  }

  100% {
    top: -50px;
    opacity: 0;
    display: none
  }
}

@keyframes showTip {
  0% {
    top: -50px;
    opacity: 0;
    display: none
  }

  1% {
    top: -50px;
    opacity: 0;
    display: block
  }

  10% {
    top: 201px;
    opacity: 100
  }

  90% {
    top: 201px;
    opacity: 100
  }

  99% {
    top: -50px;
    opacity: 0
  }

  100% {
    top: -50px;
    opacity: 0;
    display: none
  }
}

input:focus {
  outline: none
}



.cursorPointer {
  cursor: pointer
}

.cursorDefault {
  cursor: default
}

.txtCenter {
  text-align: center
}



body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
ul,
li,
ol,
table,
tr,
td,
th {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}



@font-face {
  font-family: "zenDots";
  src: url('../webfonts/../webfonts/ZenDots-Regular.woff2?1615526952') format('woff2'), url('../webfonts/../webfonts/ZenDots-Regular.woff?1623583666') format('woff'), url('../webfonts/../webfonts/ZenDots-Regular.otf?1615526952') format('opentype'), url('../webfonts/../webfonts/ZenDots-Regular.ttf?1615526952') format('truetype'), url('../webfonts/../webfonts/ZenDots-Regular.eot?1623598378') format('embedded-opentype'), url('../webfonts/../webfonts/ZenDots-Regular.svg?1623598272') format('svg')
}