/*全局通用样式*/
@charset "utf-8";

* {
	margin : 0;
	padding: 0;
}


html,
body {
	width    : 100%;
	height   : 100%;
}

* html body {
	overflow: visible;
}

* html frame,
* html iframe {
	overflow: auto;
}

* html frameset {
	overflow: hidden;
}

body {
	color      : #333;
	background : #ffffff;
	font-size  : 16px;
	font-family: Microsoft Yahei, SimSun, Helvetica;
}

body,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
li,
ol,
p,
table,
td,
tr,
ul {
	margin : 0;
	padding: 0;
}

img,
object,
input,
textarea,
button,
select {
	vertical-align: middle;
}

textarea {
	box-sizing: border-box;
	resize    : none;
	outline   : none;
	box-shadow: none;
	appearance: none;
}

/*让button 按钮 变成小手*/

button {
	cursor: pointer;
}

/*取消链接的下划线且修改字体颜色,鼠标小手*/

a {
	text-decoration: none;
	cursor         : pointer !important;
}

/*清除浮动*/

‍.clearfix:after {
	content: " ";
	display: block;
	clear  : both;
	height : 0;
}

/*隐藏元素*/

.hide,
.none {
	display: none;
}

/*设定宽度*/

.w {
	width: 1200px;
}

.flex-row {
	display       : flex;
	flex-direction: row;
	align-items   : center;
}

.flex-column {
	display       : flex;
	flex-direction: column;
	align-items   : center;
}

.j_c {
	justify-content: center;
}

.j_b {
	justify-content: space-between;
}

.j_a {
	justify-content: space-around;
}

.flex {
	display: flex;
}

.col {
	display       : flex;
	flex-direction: column;
}

.i-flex {
	display: inline-flex;
}

.a_b {
	align-items: baseline;
}

.a_c {
	align-items: center;
}

.a_s {
	align-items: flex-start;
}


a {
	color                      : inherit;
	text-decoration            : none;
	display                    : block;
	border                     : none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	user-select                : none;
	-moz-user-focus            : none;
	-moz-user-select           : none;
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	outline                    : none;
	background                 : none;
	text-decoration            : none;
}

input {
	background: none;
	outline   : none;
	border    : none;
}

ul,
li {
	padding   : 0;
	list-style: none;
}

/* 去掉IE的input框自带的X */

::-ms-clear,
::-ms-reveal {
	display: none !important;
}

/*  去掉button的默认样式*/

button {
	border          : none;
	background-color: transparent;
	outline         : none;
}

button::after {
	outline: none;
	border : none;
}

.button-hover {
	/*点击后样式*/
	background: transparent;
}

/* 单行文字换行  */

.text_ellipsis {
	/*宽度自定义*/
	text-overflow: ellipsis;
	white-space  : nowrap !important;
	overflow     : hidden;
}

/* 多行文字换行 */

.line_ellipsis {
	overflow          : hidden;
	text-overflow     : ellipsis;
	display           : -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}