@charset "utf-8";
/*全局通用样式*/
:root {
	--pink    : #ffc0cb;
	--white   : #fff;
	--red     : #e54d42;
	--orange  : #f37b1d;
	--yellow  : #fbbd08;
	--olive   : #8dc63f;
	--green   : #39b54a;
	--grey    : #8799a3;
	--black   : #333333;
	--darkGray: #666666;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

[v-cloak] {
	display: none !important;
}


* {
	margin : 0;
	padding: 0;
}


html,
body {
	width : 100%;
	height: 100%;
}

* html body {
	overflow: visible;
}

* html frame,
* html iframe {
	overflow: auto;
}

* html frameset {
	overflow: hidden;
}

body {
	font-size      : 16px;
	font-family    : Microsoft Yahei, SimSun, Helvetica;
	display        : flex;
	height         : 100vh;
	align-items    : center;
	justify-content: center;
	background     : #222;
	overflow       : hidden;
	color : #fff;
}

body,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
li,
ol,
p,
table,
td,
tr,
ul {
	margin : 0;
	padding: 0;
}

img,
object,
input,
textarea,
button,
select {
	vertical-align: middle;
}

textarea {
	box-sizing: border-box;
	resize    : none;
	outline   : none;
	box-shadow: none;
	appearance: none;
}

/*让button 按钮 变成小手*/

button {
	cursor: pointer;
}

/*取消链接的下划线且修改字体颜色,鼠标小手*/

a {
	text-decoration: none;
	cursor         : pointer !important;
}


/*隐藏元素*/

.hide,
.none {
	display: none;
}


.flex-row {
	display       : flex;
	flex-direction: row;
	align-items   : center;
}

.flex-column {
	display       : flex;
	flex-direction: column;
	align-items   : center;
}

.j_c {
	justify-content: center;
}

.j_b {
	justify-content: space-between;
}

.j_a {
	justify-content: space-around;
}

.flex {
	display    : flex;
	align-items: flex-start;
}

.col {
	display       : flex;
	flex-direction: column;
}

.i-flex {
	display: inline-flex;
}

.a_b {
	align-items: baseline;
}

.a_c {
	align-items: center;
}

.a_s {
	align-items: flex-start;
}


a {
	color                      : inherit;
	text-decoration            : none;
	display                    : block;
	border                     : none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	user-select                : none;
	-moz-user-focus            : none;
	-moz-user-select           : none;
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	outline                    : none;
	background                 : none;
	text-decoration            : none;
}

input {
	background: none;
	outline   : none;
	border    : none;
}

ul,
li {
	padding   : 0;
	list-style: none;
}

/* 去掉IE的input框自带的X */

::-ms-clear,
::-ms-reveal {
	display: none !important;
}

/*  去掉button的默认样式*/

button {
	border          : none;
	background-color: transparent;
	outline         : none;
}

button::after {
	outline: none;
	border : none;
}

.button-hover {
	/*点击后样式*/
	background: transparent;
}

/* 单行文字换行  */

.text_ellipsis {
	/*宽度自定义*/
	text-overflow: ellipsis;
	white-space  : nowrap !important;
	overflow     : hidden;
}

/* 多行文字换行 */

.line_ellipsis {
	overflow          : hidden;
	text-overflow     : ellipsis;
	display           : -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

/* 背景图片 */
.bg_img {
	position: absolute;
	z-index : -1;
	width   : 100%;
	height  : 100%;
	left    : 0;
	top     : 0;
}

/*禁用长触弹出的下载图片菜单*/
.noCallout {
	-webkit-touch-callout: none;
}

/*禁用长触选择文字等功能*/
.noSelect {
	-webkit-user-select: none;
	user-select: none;
}


.mb20 {
	margin-bottom: 20px;
}